@include border-box-sizing;

@include font-face('OpenSans', 'opensans-regular-webfont', 'Open Sans', 'sans-serif');
@include font-face('OpenSansLight', 'opensans-light-webfont', 'Open Sans', 'sans-serif');
@include font-face('OpenSansBold', 'opensans-bold-webfont', 'Open Sans', 'sans-serif');

/*
 * Base styles
 */
html, body {
  height: 100%;
  width: 100%;
}

body {
  background: $body-background;
  color: $base-color;
  font-size: $base-font-size;
  font-family: $OpenSans;
  font-weight: $base-font-weight;
  padding: 0px;
  line-height: 1.45;
  overflow: hidden;
}

/*
 * Typography
 */
 html {font-size: 1em;}

 h1, h2, h3, h4, h5, h6, ul, p, figure, img, label {
   margin: 0;
   padding: 0;
 }

 ul {
   list-style: none;
 }

 p { margin-bottom: 1.3em; }

 h1, h2, h3, h4 {
   margin: 1.414em 0 0.5em;
   font-weight: inherit;
   line-height: 1.2;
 }

 h1 {
   margin-top: 0;
   font-size: 3.998em;
 }

 h2 { font-size: 2.827em; }

 h3 {font-size: 1.999em;}

 h4 {font-size: 1.414em;}

 small, .font_small {font-size: 0.707em;}

 a {
   color: $gray-dark;
   text-decoration: none;
   padding-bottom: 5px;
 }

.field-wrapper-inline {
  float: left;
  margin: 10px 10px 20px 0;
  h4 {
    margin: 0;
    font-size: 1em;
  }
  .label {
    float: left;
    color: $label-color;
  }
  .detail {
    float: right;
  }
  label {
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 4px;
  }
  .form-input, .form-textarea, .form-select, .form-file {
    float: left;
    width: auto;
  }
  &.display {
    width: 100%;
    border-bottom: 1px dashed $borderline-color;
  }
  &.action {
    margin: 5px 5px 5px 0;
  }
  &.lg {
    .form-input, .form-select, .form-button {
      height: 40px;
    }
  }
  &.sm {
    .form-input, .form-button {
      height: 30px;
      margin-right: 5px;
    }
    .form-select {
      height: 30px;
      padding: 2px 10px;
    }
    .form-button {
      margin-top: 0;
      height: 30px;
      padding: 2px 0;
    }
    .form-file {
      margin-top: 0;
      height: 30px;
      padding: 2px 3px;
    }
  }
}

.field-wrapper-block {
  display: table;
  width: 100%;
  margin: 10px 0;
  &.lg {
    .form-input, .form-button {
      height: 40px;
    }
  }
  &.sm {
    .form-input, .form-button {
      height: 30px;
    }
  }
}

.form-input, .form-textarea, .form-select {
  color: $base-color;
  width: 100%;
  background: transparent;
  @include border-radius(3px);
  border: 2px solid $form-border-color;
  padding: 6px 12px;
  @include transition(all, .4s, ease-out);
  &:focus, &:hover {
    color: $focus-color;
    border: 2px solid $blue;
    outline: none;
    box-shadow: 0 0 3px $blue;
    @include transition(all, .3s, ease-in);
  }
  &.error {
    border-color: $error;
  }
}

.form-file {
  color: $base-color;
  width: 100%;
  background: transparent;
  @include border-radius(3px);
  border: 2px solid $form-border-color;
  padding: 6px 12px;
}


.form-input {
  height: 34px;
}

.form-checkbox {
  float: left;
  margin-right: 5px;
}

.form-textarea {
  height: 200px;
}

.form-select {
  option { 
      background-color: $white;
      color: $blue-gray;
  }
}

.radio {
  margin-top: 15px;
  padding-bottom: 10px;
  height: 34px;
  label {
    float: left;
    margin-right: 15px;
  }
  .form-radio {
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}

.form-button {
  border: 0 none;
  @include border-radius(2px);
  cursor: pointer;
  float: left;
  font: 14px $OpenSans;
  padding: 7px 10px;
  text-transform: none;
  height: 34px;
  margin-top: 10px;
  margin-right: 5px;
  @include transition(all, 0.3s, ease);
  width: 170px; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  line-height: 19px;
  &.active {
    background: $blue;
    color: $white !important;
    &:hover {
      background: $blue-gray;
      color: $white;
    }
  }
  &.default {
    background: $gray-light;
    color: $black;
    &:hover {
      background: $gray-dark;
      color: $white;
    }
  }
  &.danger {
    background: $red;
    color: $white;
    &:hover {
      background: $red-dark;
      color: $white;
    }
  }
}

.information-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $base-color;
  table-layout: fixed;
  thead {
    color: $focus-color;
    font-size: 14px;
    border-bottom: 1px solid $borderline-color;
  }
  tbody {
    tr:nth-child(even) {
      background: $zebra-color;
    }
    tr:hover {
      background: $white-dimmer;
      color: $focus-color;
      font: 12px $OpenSansBold;
      a {
        color: $blue;
        text-decoration: underline;
        &:hover {
          color: $focus-color;
        }
      }
    }

  }
  tr {
    border-bottom: 1px dashed $borderline-color;
    a {
      color: $link-color;
    }
    th {
      padding: 15px 3px;
    }
    td {
      padding: 12px 3px;
      .form-button {
        margin: 0 5px 0 0;
        display: inline-block;
        width: 100px;
        float: none;
      }
    }
    td, th {
      text-align: center;
      vertical-align: center;
      border-right: 1px dashed $borderline-color;
    }
    th:first-child, td:first-child {
      padding-left: 15px;
      width: 7%;
    }
    th:last-child, td:last-child {
      border-right: none;
    }
  }
  tr:last-child{
    border-bottom: none;
  }
}

.display-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $base-color;
  font-family: $OpenSansBold;
  tr {
    border-bottom: 1px dashed $borderline-color;
    td:first-child {
      color: $label-color;
      width: 20%;
      border-right: 1px dashed $borderline-color;
    }
    td {
      padding: 10px;
      width: 50%;
    }
  }
  tr:last-child {
    border-bottom: none;
  }
}


.flash-region {
  margin-bottom: 40px;
  padding: 5px 25px;
  min-height: 50px;
  height: auto;
  ul {
    margin:24px 0;
    li {
      padding: 4px 0;
    }
  }
  p {
    margin: 24px 0;
    padding: 4px 0;
  }
  &.error {
    background: $red-light;
    color: $red-dark;
    border: 2px solid $red-dark;
    @include border-radius(3px);
  }
  &.success {
    background: $green-light;
    color: $green-dark;
    border: 2px solid $green-dark;
    @include border-radius(3px);
  }
}

  .message-list {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ddd; 
    li { 
      background: #F8F6F4;
      transition: background-color .3s ease;
      border-top: 1px solid rgba(0,0,0,0.1); 
      border-right: 3px solid darken(#44c4e7,10%);
      padding: 10px 20px;
      display: flex;
      cursor: pointer;
      input[type="checkbox"] {
        appearance: none;
        cursor: pointer;
        margin: 5px 10px 0 0;
        order: 1;
        width: 15px;
        height: 15px;
        background: #fff; 
        border: 1px solid #ddd;
        border-radius: 3px;
        &:checked {
         background: #EFEFEF;    
        }
      }
      .preview {
        flex: 1;
        order: 2;
        h4 {
          margin: 0; 
          font-weight: 400;
          color: #333;
          small {
            float: right;
            color: #AAA;
            font-size: .8125rem;
          }
        }
        p {
          color: #888;
          margin: 5px 0;
        }
      }
      &:hover {
        background: #fff;    
      }
      &.active {
        background: #fd9162;
        border-right: 3px solid rgba(0,0,0,0.1);
        .preview {
           h3, h3 small, p { color: #fff; }
        }
      }
      &.new {
        background: #fff;
        border-right: 3px solid #44c4e7;    
      }
    }
  }