@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "../fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "(#{$style-name})", (#{$category});
            }
            @else {
                family: "(#{$style-name})";
                weight: normal;
            }
        }
    }
}

@mixin hide-text() {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin transition($property, $duration, $timing) {
    -moz-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}