/* line 3, ../../../resources/assets/sass/table.scss */
table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #f4f4f4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  /* line 10, ../../../resources/assets/sass/table.scss */
  table thead {
    background: #030303; }
  /* line 13, ../../../resources/assets/sass/table.scss */
  table tr {
    border-bottom: 1px solid #515256; }
    /* line 15, ../../../resources/assets/sass/table.scss */
    table tr th {
      padding: 15px 3px; }
    /* line 18, ../../../resources/assets/sass/table.scss */
    table tr td {
      padding: 12px 3px; }
    /* line 21, ../../../resources/assets/sass/table.scss */
    table tr td, table tr th {
      text-align: left;
      vertical-align: center; }
  /* line 26, ../../../resources/assets/sass/table.scss */
  table tr:last-child {
    border-bottom: none; }

/* line 31, ../../../resources/assets/sass/table.scss */
.display-table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 40px; }
  /* line 37, ../../../resources/assets/sass/table.scss */
  .display-table tbody tr {
    background: #515256;
    border-bottom: 1px dashed #e8e8e8; }
    /* line 41, ../../../resources/assets/sass/table.scss */
    .display-table tbody tr td .field-wrapper-block {
      margin: 0 auto;
      width: auto; }
      /* line 44, ../../../resources/assets/sass/table.scss */
      .display-table tbody tr td .field-wrapper-block .form-button {
        margin: 0;
        text-align: center; }
    /* line 50, ../../../resources/assets/sass/table.scss */
    .display-table tbody tr:last-child {
      border-bottom: 0; }
  /* line 55, ../../../resources/assets/sass/table.scss */
  .display-table td, .display-table th {
    text-align: center;
    border-right: 1px dashed #e8e8e8; }
    /* line 58, ../../../resources/assets/sass/table.scss */
    .display-table td:last-child, .display-table th:last-child {
      border-right: 0; }
